* {
  margin: 2;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 80vw;
  border: 1px solid blue;
  font-size: 30px;
  gap: 10px 20px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.work {
  border: 1px solid;
}
.header {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(35, 172, 28);
}
.side-bar {
  border: 1px solid;
  box-sizing: border-box;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(35, 172, 28);
  /* padding: 30px; */
  grid-row: 2/4;
}
.item-1 {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(35, 172, 28);
}
.item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 172, 28);
  color: white;
}
.item-3 {
  width: 26vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(35, 172, 28);
}
.footer {
  grid-column: 1/4;
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(35, 172, 28);
}
